<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bwright.bodybuilder">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Tester" />
        <activity
            android:name=".LoadWorkouts"
            android:label="LoadWorkouts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadArmExercises"
            android:label="LoadArmExercises"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadBackExercises"
            android:label="LoadBackExercises"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadCardioExercises"
            android:label="LoadCardioExercises"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadChestExercises"
            android:label="LoadChestExercises"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadCoreExercises"
            android:label="LoadCoreExercises"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadLowerBodyExercises"
            android:label="LoadLowerBodyExercises"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadShoulderExercises"
            android:label="LoadShoulderExercises"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadStretchExercises"
            android:label="LoadStretchExercises"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartUp"
            android:label="@string/title_activity_start_up"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>